.idea/
.gradle/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
target/
logs/
bin/
build/
out/
*/*.class
*/**/*.class
.metadata/
classes/
src/main/java/com/ebay/
src/main/resources/ebay/schema/generated/
